<h2 style="color:rgb(106, 255, 0);">Historial</h2>

{{#if productos}}
<div class="table-responsive">
    <table class="table table-dark">
        <tr style="color: blue;">
            <th>Nombre</th>
            <th>Precio</th>
            <th>URL</th>
        </tr>
        {{#each productos}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{precio}}</td>
            <td>{{url}}</td>
        </tr>
        {{/each}}
    </table>
</div>

{{else}}
<h3 class="alert alert-danger">no se han encontrado los datos</h3>
{{/if}}